.jumbotron {
  color: #ecf4f3;
  background-color: #68b0ab;
  font-family: Means Web,Georgia,Times,Times New Roman,serif;
};

.box {
  margin: 20px;
  opacity: 0.8;
}

.box:hover{
  opacity: 1;
  box-shadow: 0 0 11px #21212133;
}

.grid {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  color: #ff7e67;
  justify-content: center;
}

.grid > div > div > p {
  color: #006a71
};
