.jumbotron {
  background-color: #68b0ab;
  color: #ecf4f3;
  font-family: 'Handlee', cursive;
};

.box {
  margin: 20px;
  opacity: 0.8;
}

.box:hover{
  opacity: 1;
  box-shadow: 0 0 11px #21212133;
}

.grid {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  color: #ff7e67;
  justify-content: center;
  margin-bottom: 30px;
}

.grid > div > div > p {
  color: #006a71;
};

.grid > div > a > img{
  height: 200px !important;
};