main.selection_page {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}
main.detail_page{
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left:0;
  text-align: justify;
}

.loading{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  color: #ff7e67;
  justify-content: center;
}

.grid > div > div > p {
  color: #006a71;
};

.toggle-filter {
  height: 50px;
  width: 50px;
  text-align: center;
  margin-bottom: 2rem;
  position: absolute;
  top: -51px;
  margin: 0;
  padding: 0;
  .MuiSvgIcon-root{
    color: white;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
  }
  :hover.MuiSvgIcon-root{
    color: #006a71;
  }
}
:hover.toggle-filter {
  margin: 0;
}

.filter-tasker__list{
  display: flex;
  flex-direction: row;
}

.sort-criteria{
  margin-left: auto;
  display: flex;
  align-items: center;
  color: #006a71;
  > button {
    margin-left: 1rem;
    width: 80px;
  }
  h5 {
    margin: 0;
  }
}

@media only screen and (min-width: 768px) {
  main.selection_page {
    display: flex;
  }
}