.new-task{
  color: #006a71;
}


textarea[name="description"] {
  overflow: auto;
  width: inherit;
}

.error-message{
  > a{
    text-decoration: none;
    color: #721c24;
    font-weight: 600;
  }
}

.Button-taskNew {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.left {
  margin: 0 auto;
  text-align: center;
}

.AlignElements {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


.new-task-form p {
  color: red;
}

div.Selected-Tasker2 > * {
  opacity: 1;
}

div.Selected-Tasker2 > *:hover{
  box-shadow: none;
  cursor: auto;
}








