.new-task{
  display: flex;


}

textarea[name="description"] {
  overflow: auto;
  width: inherit;
}

.error-message{
  > a{
    text-decoration: none;
    color: #721c24;
    font-weight: 600;
  }
}