.chat-box {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 800px;
  width: 45%;
  max-width: 600px;
  border: solid #006a71;
  border-radius: 15px;
  bottom: 30px;
  right: 30px;
  background-color: #ecf4f3;
  z-index: 999;
  p {
    margin: 0 0 0.5rem;
  }
  .no-selected-contact {
    align-self: center;
    margin-top: 60%;
    color:#006a71;
  }
  .contact-name{
    padding: 0rem 1rem;
    color:#006a71;
  }

}
.chat-message-form {
  padding: 0 1.2rem;
  margin: 0;
  max-width: inherit;
}

.message-input {
  width: 80%;
}

.toggle-chat{
  width: 70px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  border-radius: 13px;
  display: flex;
  justify-content: center;
}