.chat-box {
  position: fixed;
  display: block;
  height: 800px;
  width: 45%;
  max-width: 600px;
  border: solid #006a71;
  bottom: 10px;
  right: 10px;
  background-color: #ecf4f3;
  z-index: 999;

  .contact-list{
    display: flex;
  }
}

.toggle-chat{
  position: fixed;
  bottom: 10px;
  right: 10px;
}