.chat-box {
  position: fixed;
  display: block;
  height: 800px;
  width: 45%;
  max-width: 600px;
  border: solid #006a71;
  bottom: 10px;
  right: 10px;
  background-color: #ecf4f3;
  z-index: 999;

  .contact-list{
    display: flex;
    padding: 0rem 1rem;
    height: 10%;
    > * {
      margin: 1rem  0.5rem 0.5rem 0
    }
  }
}

.toggle-chat{
  position: fixed;
  bottom: 10px;
  right: 10px;
}