.filter {
  display: flex;
  flex-direction: column;
  text-align: justify;
  color: #006a71;

  
  > div{
    padding: 0rem 0 3rem;
  }

  .time{
    width: 300px;
    p{
      margin: 0;
    }
  }
  .input {
    width: 42px;
  }
}