nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3em;
  background-color: #2ec4b6;
  color: #7209b7;
  position: navbar navbar-default navbar-fixed-top;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 4px #cccccc80;
}

ul.menu {
  list-style: none;
  display: flex;

  li {
    margin: 0 1em;
  }
}

.logo {
  font-size: xx-large;
  font-style: oblique;
  font-weight: 300;
  text-decoration: underline;
}