.App {
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

form {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

body {
  background-color: #ecf4f3;
  position: relative;
  min-height: 100vh;
  padding-bottom: 2.5rem;
}

label,
input {
  display: block;
  width: 100%;
}

label {
  margin-bottom: 5px;
  height: 22px;
}

input {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #777;
}

input.error {
  border-color: red;
}

.input-feedback {
  color: rgb(235, 54, 54);
  margin-top: -15px;
  font-size: 14px;
  margin-bottom: 20px;
}

button {
  padding: 10px 15px;
  background-color: #006a71;
  color: white;
  border: 1px solid #006a71;
  transition: ease-in-out background-color 250ms, ease-in-out color 250ms;
}


button:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(70, 153, 179);
}

.LoginRegister_btn {
  margin-top: 1em;
  width: 100%;
  padding: 10px 15px;
  background-color:  #006a71;
  color: white;
  border: 1px solid  #006a71;
  transition: ease-in-out background-color 250ms, ease-in-out color 250ms;
}

.LoginRegister_btn:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(70, 153, 179);
}

.Become_tasker {
  text-align: center;
  margin: 2em;
  color: #006a71;
}

.Registration-form {
  margin-top: 2em;
}

.Registration-form label{
  color: #006a71;
};

.Registration-form input{
  color: #006a71;
};

.Registration-form p {
  color: red;
}