.tasker {
  width: 300px;
  margin: 1rem;
  li > img {
    width: percentage($number: 1);
    height: 250px;
    object-fit: cover;
  }
  li > p{
    margin: 0;
    padding: 0.1em 0em 0.1em;
    font-size: 1rem;
    color: #ff7e67
  }

  .rating {
    margin: 0;
    padding: 0.3em 0em 0.1em;
    font-size: 1rem;
  }
  .card-body{
    padding-top: 0;
    padding-bottom: 0;
  }
}