.tasker__details {

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 350px;
  
  img {
    width: 350px;
    height: 300px;
    object-fit: cover;
  }

  .card-body{
    padding: 0;
    display: flex;
    flex-direction: column;

    header{
      display: flex;
      justify-content: space-evenly;
      padding: 1rem;
      align-items: center;

      h5 {
        margin:0;
      }
      
      > .rating-vehicle {
        display: flex;
        flex-direction: column;
        align-items: center;
        > * {
          padding: 0.1rem;
        }
        > h5{
          color: #ff7e67;
          font-size: 1.2rem;
          margin: 0;
        }
  
        .rating-result {
          font-size: 1.4rem;
        }
      }
    }

    .name-price{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      > * {
        padding: 0.1rem;
      }
    }
  }

  .right_details{
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    > footer {
      display: flex;
      justify-content: space-evenly;
      padding: 1rem 0;
      height: 18.5%;
    }
    .card-body {
      flex: inherit;
      height: 20%;
    }
  } 

  .comment-review{
    height: 61.5%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    p{
      font-size: 1rem;
      margin: 0;
    }
    > .blockquote{
      height: 60%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      .rating-result{
        font-size: 1rem;
        padding-top: 0.25rem;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  
  .tasker__details {
    display: flex;
    flex-direction: row;
    width: 90vw;
    max-width: 800px;
    height: 500px;
    .right_details{
      > footer {
        padding: 1rem 0 1rem;
      }
    } 
    img {
      height: 100%;
    }
  }
}