.taskers {
  display: flex;
  flex-direction: column;

  .taskers__list {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    padding: 0;

    .alert{
      margin: 1rem;
      padding: 1.5rem;
      text-align: justify;
    }
  }
  
  .sort{
    margin-left: auto;
    display: flex;
    align-items: center;
    color: #006a71;
    > button {
      margin-left: 1rem;
      width: 80px;
    }
    h5 {
      margin: 0;
    }
  }
  .taskers__header {
    color: #68b0ab;
  }
}
