.taskers {
  display: flex;
  flex-direction: column;

  .taskers__list {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    padding: 0;
    justify-content: center;

    .alert{
      margin: 1rem;
      padding: 1.5rem;
      text-align: justify;
    }
  }
  
  .taskers__header {
    color: #68b0ab;
  }
}
